.home{
	background: cc(bg);
	@include sidebarBoxShadow;

	&__routerview{
		position: relative;
		min-height: 100vh;
		max-width: 1440px;
		width:calc(100vw - 278px - 20px);
		margin: 0 auto;
		padding-top: 5.5rem;
		padding-left: 4rem;
		padding-right: 4rem;
		padding-bottom: 5rem;
		// border: 3px dotted black;
	}
}