//google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500,700');
//font-family: 'Open Sans', sans-serif;


// font stack
@mixin font-stack($ff, $weight: normal) {
  font-family: #{$ff}, Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

// font families
%ff--200 { @include font-stack('Open Sans', 200) }
%ff--400 { @include font-stack('Roboto', 400) }
%ff--500 { @include font-stack('Roboto', 500) }
%ff--700 { @include font-stack('Roboto', 700) }

// extend placeholders
%txt--body {
  @extend %ff--500;
  font-size: 1rem;
}
%txt--login {
  @extend %ff--700;
  font-size: 3rem;
  line-height: 1.2;
}

%txt--rte {
  @extend %txt--body;
  line-height: 1.5;
}

%txt--banner {
  @extend %ff--700;
  line-height: 1;
  font-size: 2.6rem;
  letter-spacing: -.005em;
}

%txt--preview {
  @extend %ff--500;
  font-size: 3.6vw;
  text-transform: capitalize;

  @media (--desktop) {
    font-size: 3.25rem;
  }
}

%txt--title {
  @extend %ff--200;
  font-size: 3.2rem;
  line-height: 1.2;
  text-transform: capitalize;
}

%txt--subtitle {
  @extend %ff--500;
  font-size: 1.25rem;
  line-height: 1.5;
}

%txt--heading {
  @extend %ff--700;
  font-size: 1.15rem;
  line-height: 1.5;
}
